<h1 xmlns="http://www.w3.org/1999/html"></h1>
<div class="alert"><h1>Seller Agreement</h1></div>
<div class="well">
 <br/>

The website charges a 5% commission on all items sold through this site.
  <br/>For the detailed Terms and Conditions please contact the <a href="mailto:givemea@givemea.com">administrator</a>.
<br/>
If you agree, press "I agree". Your account will then be activated for selling products on the site.
  <br/><br/>
     <%= form_tag confirm_activate_seller_path %>
          <tr>
            <td colspan="2"><center><%= submit_tag "I Agree", class: "btn btn-success" %></center></td>
          </tr>


</div>
