<h1 xmlns="http://www.w3.org/1999/html"></h1>
<div class="alert alert-success">
Thanks for subscribing to Seller Account.<br/>
Now you can take advatage of all the awesome seller features the site has to offer to your business.
</div>
<%= link_to "Return to Profile Page", users_profile_path, :class=> "btn btn-success" %>
<%= link_to "Return to Home", root_path, :class=> "btn btn-primary" %>


<br />

