<div class="alert">
    <h3><%= @category.name %></h3>
</div>
<table class="table">
  <tr>
    <td><b>Category Name</b></td>
    <td><%= @category.name %></td>
  </tr>
  <tr>
    <td><b>Image url</b></td>
    <td><%= @category.image_url %></td>
  </tr>
</table>