<div class="alert">
<h3>Add A New Card</h3>
</div>

<%= render 'form' %>

<a class="btn btn-primary" href="/cards">Manage my credit cards</a>

<%= link_to "Go back to Check Out", cart_checkout_path, :class => "btn btn-success"  %>

