/* 
    Document   : style
    Created on : Mar 3, 2012, 7:04:15 PM
    Author     : gieart
    Description:
        Purpose of the stylesheet follows.
*/

body{padding-top: 10px; padding-bottom: 10px}   
.span12, .container{width: 940px;}
.no_margin_left {margin-left: 0;}
.footer h4{margin-top: 8px;}

.one_line_form{
    padding: 10px;
    text-align: right;
}

.item_description{
    padding: 10px;
    margin: 10px;
}

.item_search{
    margin: 0px;
}

.item_image {
    float: left;
    width: 800px;
}
.item_content{
    float: right;
    width: 350px;
}

.logo{
    height: 70px;
}

.links a{
    margin-right: 5px;
    color: black;
}
.links a:hover{
    background: none;
    color: blue;
}
.links a:visited{
    color: black;
}

/* product_list - the side bar*/
.product_list {
    margin-top: -5px;
    margin-left: 5px;
    min-height: 500px;
}
.product_list ul {
    list-style: none;
    margin: 0;
}
.product_list > ul > li {
    padding: 8px 8px 8px 0px;
}
.product_list > ul > li + li {
    border-top: 1px solid #EEEEEE;
}
.product_list > ul > li > a {
    text-decoration: none;
}
.product_list > ul > li > a:hover{
    text-decoration: none;
    background: none;
}
.product_list > ul > li ul {
    display: none;
}
.product_list > ul > li a.active {
    font-weight: bold;
}
.product_list > ul > li a.active + ul {
    display: block;
}
.product_list > ul > li ul > li {
    padding: 5px 5px 0px 10px;
}
.product_list > ul > li ul > li > a {
    text-decoration: none;
    display: block;
}
.product_list > ul > li ul > li > a.active {
    font-weight: bold;
}



.related_products .span2 {
    width:160px;
}


.product_comparison .thumbnail{
    border: none;
    text-align:center;

}

.product_comparison small{
    font-weight: normal;
}

.product_comparison .product_stars {
    text-align:center;
    margin: 0 auto;
    width: 85px;
}
.product_comparison .price_summary td{
    text-align:center;
}
.navbar .btn.search_btn {
    margin-top:1px;
}

.carousel-inner {
    height: 286px;
}
.carousel-caption {
    bottom: -77px;
}
.popular_products .span2{
    width:160px;
    float: left;
}


.customer_service {
    text-align:right;
    font-size:13px;
}

.table td.center_text{
    text-align:center;
}

.h4span1 {
    font-size: 20px;
}

.error_message {
    margin: 10px;
    color: #ff0000;
}